# Data Cleaning and Regression

## Relevant Information

Data Set Information:
The dataset contains 9358 instances of hourly averaged responses from an array of 5 metal oxide chemical sensors embedded in an Air Quality Chemical Multisensor Device. The device was located on the field in a significantly polluted area, at road level,within an Italian city. Data were recorded from March 2004 to February 2005 (one year)representing the longest freely available recordings of on field deployed air quality chemical sensor devices responses. Ground Truth hourly averaged concentrations for CO, Non Metanic Hydrocarbons, Benzene, Total Nitrogen Oxides (NOx) and Nitrogen Dioxide (NO2) and were provided by a co-located reference certified analyzer. Evidences of cross-sensitivities as well as both concept and sensor drifts are present as described in De Vito et al., Sens. And Act. B, Vol. 129,2,2008 (citation required) eventually affecting sensors concentration estimation capabilities. Missing values are tagged with -200 value.
This dataset can be used exclusively for research purposes. Commercial purposes are fully excluded.
https://archive.ics.uci.edu/ml/datasets/air+quality

The dataset can be downloaded from:
https://www.kaggle.com/anveshparashar/airqualityuci

In [1]:
#Import libraries that we are going to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from pandas.plotting import scatter_matrix

## Exploratory Analysis

We created two dataframes, one that eliminates all the Nan, and another one that substitute all the Nan by the median of each variable.

In [2]:
#######INITIAL EXPLORATION#########
#Path of the folder that I am going to use
filepath = "C:/Users/juanvarl/Desktop/CausaLens/"
#name_doc = 'AirQualityUCI.csv'
name_doc = 'AirQualityUCI.xlsx'

#Import of the .xlsx/.csv file to python
#df = pd.read_csv(filepath+name_doc,delimiter=';')
df= pd.read_excel(filepath+name_doc)
#Declare missing variables that the dataframe has
missing_values = ["n/a", "na","N/A","NA","Null","null","nan","NAN","","-","--","---",-200]

#Import of the .xlsx file to python unifying the missing values
df = pd.read_excel(filepath+name_doc,na_values = missing_values)

#######START CLEANING########
#Eliminate unecessary columns such as 'Unnamed'
#df.drop(['Unnamed: 15','Unnamed: 16'], axis=1, inplace=True)

#Validation of types of variables
print('Type of variables:')
print(df.dtypes)

Type of variables:
Date             datetime64[ns]
Time                     object
CO(GT)                  float64
PT08.S1(CO)             float64
NMHC(GT)                  int64
C6H6(GT)                float64
PT08.S2(NMHC)           float64
NOx(GT)                 float64
PT08.S3(NOx)            float64
NO2(GT)                 float64
PT08.S4(NO2)            float64
PT08.S5(O3)             float64
T                       float64
RH                      float64
AH                      float64
dtype: object

In [3]:
#Change type of variable
df['Date'] = df['Date'].astype('datetime64[ns]')
df['NMHC(GT)'] = df['NMHC(GT)'].astype('float64')
df.info()

#Amout of Missing Values/variable
print('Missing Values:',df.isnull().values.any())
print ('')

#Return unique values in each column by order
df.nunique(axis=0, dropna=False)

#Return unique values in each column by order
column_list = df.columns.values.tolist()

# Total number of missing values. Original
print ('')
print ('Missing Values per Variable:')
print(df.isnull().sum())
print('Total Missing values:',df.isnull().sum().sum())
print ('')

df_nan = df.copy(deep = True)
# Total number of missing values. Withount NaN
df_nan.dropna(axis=0,inplace=True)
# Total number of missing values. Double check
print ('Total Missing values of New DataFrame:')
print(df_nan.isnull().sum())
print('Total Missing values:',df_nan.isnull().sum().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   datetime64[ns]
 1   Time           9357 non-null   object
 2   CO(GT)         7674 non-null   float64
 3   PT08.S1(CO)    8991 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       8991 non-null   float64
 6   PT08.S2(NMHC)  8991 non-null   float64
 7   NOx(GT)        7718 non-null   float64
 8   PT08.S3(NOx)   8991 non-null   float64
 9   NO2(GT)        7715 non-null   float64
 10  PT08.S4(NO2)   8991 non-null   float64
 11  PT08.S5(O3)    8991 non-null   float64
 12  T              8991 non-null   float64
 13  RH             8991 non-null   float64
 14  AH             8991 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(1)
memory usage: 1.1+ MB
Missing Values: True


Missing Values per Variable:
Date                0
Time                0
CO(GT)           1683
PT08.S1(CO)       366
NMHC(GT)            0
C6H6(GT)          366
PT08.S2(NMHC)     366
NOx(GT)          1639
PT08.S3(NOx)      366
NO2(GT)          1642
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                 366
RH                366
AH                366
dtype: int64
Total Missing values: 8258

Total Missing values of New DataFrame:
Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64
Total Missing values: 0

In [4]:
df_median = df.copy(deep = True)
# Total number of missing values. Median
df_median.fillna(df.median(), inplace=True)
# Total number of missing values. Double check
print ('df_median:')
print(df_median.isnull().sum())
print('Total Missing values:',df_nan.isnull().sum().sum())

df_median:
Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64
Total Missing values: 0

<ipython-input-4-b46aef1c5701>:3: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df_median.fillna(df.median(), inplace=True)

### Summary Statistics

In [5]:
#Description of the database Summary Stats.
df_describe=df.describe(include = 'all')
df_nan_describe=df_nan.describe(include = 'all')
df_median_describe=df_median.describe(include = 'all')

print('Original DataFrame:')
print(df.describe(include = 'all'))
print('')
print('DataFrame without Nan:')
print(df_nan.describe(include = 'all'))
print('')
print('DataFrame with median:')
print(df_median.describe(include = 'all'))

Original DataFrame:
                       Date      Time       CO(GT)  PT08.S1(CO)     NMHC(GT)  \
count                  9357      9357  7674.000000  8991.000000  9357.000000
unique                  391        24          NaN          NaN          NaN
top     2004-04-02 00:00:00  23:00:00          NaN          NaN          NaN
freq                     24       390          NaN          NaN          NaN
first   2004-03-10 00:00:00       NaN          NaN          NaN          NaN
last    2005-04-04 00:00:00       NaN          NaN          NaN          NaN
mean                    NaN       NaN     2.152750  1099.707856  -159.090093
std                     NaN       NaN     1.453252   217.084571   139.789093
min                     NaN       NaN     0.100000   647.250000  -200.000000
25%                     NaN       NaN     1.100000   936.750000  -200.000000
50%                     NaN       NaN     1.800000  1063.000000  -200.000000
75%                     NaN       NaN     2.900000  1231.250000  -200.000000
max                     NaN       NaN    11.900000  2039.750000  1189.000000

           C6H6(GT)  PT08.S2(NMHC)      NOx(GT)  PT08.S3(NOx)      NO2(GT)  \
count   8991.000000    8991.000000  7718.000000   8991.000000  7715.000000
unique          NaN            NaN          NaN           NaN          NaN
top             NaN            NaN          NaN           NaN          NaN
freq            NaN            NaN          NaN           NaN          NaN
first           NaN            NaN          NaN           NaN          NaN
last            NaN            NaN          NaN           NaN          NaN
mean      10.082993     939.029205   246.881252    835.370973   113.075515
std        7.449640     266.829000   212.971224    256.815106    48.359250
min        0.149048     383.250000     2.000000    322.000000     2.000000
25%        4.436942     734.375000    98.000000    657.875000    78.000000
50%        8.239851     909.000000   179.800000    805.500000   109.000000
75%       13.988478    1116.250000   326.000000    969.250000   142.000000
max       63.741476    2214.000000  1479.000000   2682.750000   339.700000

        PT08.S4(NO2)  PT08.S5(O3)            T           RH           AH
count    8991.000000  8991.000000  8991.000000  8991.000000  8991.000000
unique           NaN          NaN          NaN          NaN          NaN
top              NaN          NaN          NaN          NaN          NaN
freq             NaN          NaN          NaN          NaN          NaN
first            NaN          NaN          NaN          NaN          NaN
last             NaN          NaN          NaN          NaN          NaN
mean     1456.143486  1022.780725    18.316054    49.232360     1.025530
std       346.204540   398.480897     8.832888    17.316389     0.403813
min       551.000000   221.000000    -1.900000     9.175000     0.184679
25%      1226.625000   731.375000    11.787500    35.812500     0.736769
50%      1462.750000   963.250000    17.750000    49.550000     0.995395
75%      1673.500000  1273.375000    24.400000    62.500001     1.313701
max      2775.000000  2522.750000    44.600000    88.725000     2.231036

DataFrame without Nan:

<ipython-input-5-156e72fbf5a8>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_describe=df.describe(include = 'all')
<ipython-input-5-156e72fbf5a8>:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_nan_describe=df_nan.describe(include = 'all')
<ipython-input-5-156e72fbf5a8>:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_median_describe=df_median.describe(include = 'all')
<ipython-input-5-156e72fbf5a8>:7: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(df.describe(include = 'all'))
<ipython-input-5-156e72fbf5a8>:10: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(df_nan.describe(include = 'all'))

                       Date      Time       CO(GT)  PT08.S1(CO)     NMHC(GT)  \
count                  6941      6941  6941.000000  6941.000000  6941.000000
unique                  341        24          NaN          NaN          NaN
top     2005-03-21 00:00:00  10:00:00          NaN          NaN          NaN
freq                     24       312          NaN          NaN          NaN
first   2004-03-10 00:00:00       NaN          NaN          NaN          NaN
last    2005-04-04 00:00:00       NaN          NaN          NaN          NaN
mean                    NaN       NaN     2.182467  1119.786222  -148.644576
std                     NaN       NaN     1.441158   218.739106   157.076753
min                     NaN       NaN     0.100000   647.250000  -200.000000
25%                     NaN       NaN     1.100000   956.250000  -200.000000
50%                     NaN       NaN     1.900000  1084.750000  -200.000000
75%                     NaN       NaN     2.900000  1254.000000  -200.000000
max                     NaN       NaN    11.900000  2039.750000  1189.000000

           C6H6(GT)  PT08.S2(NMHC)      NOx(GT)  PT08.S3(NOx)      NO2(GT)  \
count   6941.000000    6941.000000  6941.000000   6941.000000  6941.000000
unique          NaN            NaN          NaN           NaN          NaN
top             NaN            NaN          NaN           NaN          NaN
freq            NaN            NaN          NaN           NaN          NaN
first           NaN            NaN          NaN           NaN          NaN
last            NaN            NaN          NaN           NaN          NaN
mean      10.554411     958.421925   250.656476    816.771659   113.858608
std        7.465170     264.052415   208.603978    251.896825    47.464705
min        0.181525     390.250000     2.000000    322.000000     2.000000
25%        4.927071     759.750000   103.000000    642.250000    79.000000
50%        8.788282     931.000000   186.000000    785.500000   110.000000
75%       14.579057    1135.250000   334.600000    946.500000   142.000000
max       63.741476    2214.000000  1479.000000   2682.750000   332.600000

        PT08.S4(NO2)  PT08.S5(O3)            T           RH           AH
count    6941.000000  6941.000000  6941.000000  6941.000000  6941.000000
unique           NaN          NaN          NaN          NaN          NaN
top              NaN          NaN          NaN          NaN          NaN
freq             NaN          NaN          NaN          NaN          NaN
first            NaN          NaN          NaN          NaN          NaN
last             NaN          NaN          NaN          NaN          NaN
mean     1452.528598  1057.631753    17.753280    48.880121     0.985573
std       353.297883   406.505668     8.845398    17.432652     0.401097
min       551.000000   221.000000    -1.900000     9.175000     0.184679
25%      1206.500000   759.500000    11.200000    35.325001     0.694123
50%      1457.000000  1006.250000    16.850000    49.175000     0.953910
75%      1683.000000  1322.000000    23.724999    62.224999     1.251552
max      2775.000000  2522.750000    44.600000    88.725000     2.180639

DataFrame with median:
                       Date      Time       CO(GT)  PT08.S1(CO)     NMHC(GT)  \
count                  9357      9357  9357.000000  9357.000000  9357.000000
unique                  391        24          NaN          NaN          NaN
top     2004-04-02 00:00:00  23:00:00          NaN          NaN          NaN
freq                     24       390          NaN          NaN          NaN
first   2004-03-10 00:00:00       NaN          NaN          NaN          NaN
last    2005-04-04 00:00:00       NaN          NaN          NaN          NaN
mean                    NaN       NaN     2.089302  1098.272025  -159.090093
std                     NaN       NaN     1.323024   212.915093   139.789093
min                     NaN       NaN     0.100000   647.250000  -200.000000
25%                     NaN       NaN     1.200000   941.250000  -200.000000
50%                     NaN       NaN     1.800000  1063.000000  -200.000000
75%                     NaN       NaN     2.600000  1221.250000  -200.000000
max                     NaN       NaN    11.900000  2039.750000  1189.000000

           C6H6(GT)  PT08.S2(NMHC)      NOx(GT)  PT08.S3(NOx)      NO2(GT)  \
count   9357.000000    9357.000000  9357.000000   9357.000000  9357.000000
unique          NaN            NaN          NaN           NaN          NaN
top             NaN            NaN          NaN           NaN          NaN
freq            NaN            NaN          NaN           NaN          NaN
first           NaN            NaN          NaN           NaN          NaN
last            NaN            NaN          NaN           NaN          NaN
mean      10.010899     937.854610   235.131100    834.202567   112.360329
std        7.311212     261.622644   195.093027    251.808390    43.938455
min        0.149048     383.250000     2.000000    322.000000     2.000000
25%        4.591495     742.500000   112.000000    665.500000    85.900000
50%        8.239851     909.000000   179.800000    805.500000   109.000000
75%       13.636091    1104.750000   284.200000    960.250000   133.000000
max       63.741476    2214.000000  1479.000000   2682.750000   339.700000

        PT08.S4(NO2)  PT08.S5(O3)            T           RH           AH
count    9357.000000  9357.000000  9357.000000  9357.000000  9357.000000
unique           NaN          NaN          NaN          NaN          NaN
top              NaN          NaN          NaN          NaN          NaN
freq             NaN          NaN          NaN          NaN          NaN
first            NaN          NaN          NaN          NaN          NaN
last             NaN          NaN          NaN          NaN          NaN
mean     1456.401901  1020.452175    18.293913    49.244785     1.024351
std       339.367768   390.779481     8.659092    16.974420     0.395879
min       551.000000   221.000000    -1.900000     9.175000     0.184679
25%      1241.500000   741.750000    12.025000    36.550000     0.746115
50%      1462.750000   963.250000    17.750000    49.550000     0.995395
75%      1662.000000  1255.250000    24.075000    61.875000     1.296223
max      2775.000000  2522.750000    44.600000    88.725000     2.231036

<ipython-input-5-156e72fbf5a8>:13: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(df_median.describe(include = 'all'))

## Table Analysis

In [6]:
#Create variables for pivot tables
df_median['day'] = df_median['Date'].dt.day
df_median['month'] = df_median['Date'].dt.month
df_median['year'] = df_median['Date'].dt.year
df_median['day-of-week'] = df_median['Date'].dt.day_name()

#Pivot Table
table=pd.pivot_table(df_median, values=['CO(GT)','C6H6(GT)'], index=['year','month','day'],
               aggfunc={'CO(GT)': np.mean,
                        'C6H6(GT)': np.mean})

table_1=pd.pivot_table(df_median, values=['CO(GT)','C6H6(GT)'], index=['year','month'],
               aggfunc={'CO(GT)': np.max,
                        'C6H6(GT)': np.max})

table_2=pd.pivot_table(df_median, values=['CO(GT)','C6H6(GT)'], index=['Date'],
               columns=['year'], aggfunc={'CO(GT)': np.mean,
                        'C6H6(GT)': np.mean})

table_3=pd.pivot_table(df_median, values=['CO(GT)'], index=['month'],
               columns=['year','day-of-week'], aggfunc={'CO(GT)': np.mean})

print(table)
print("")
print(table_1)
print("")
print(table_2)
print("")
print(table_3)

                 C6H6(GT)    CO(GT)
year month day
2004 3     10    8.460790  1.966667
           11    7.989058  2.220833
           12   12.129509  2.720833
           13   10.922887  2.658333
           14    9.631442  2.441667
...                   ...       ...
2005 3     31    5.226496  1.387500
     4     1     3.416610  1.137500
           2     2.527522  0.854167
           3     4.318307  1.141667
           4     8.435233  2.060000

[391 rows x 2 columns]

             C6H6(GT)  CO(GT)
year month
2004 3      39.202340     8.1
     4      40.260061     7.3
     5      40.223805     6.5
     6      36.878165     6.4
     7      37.251572     5.3
     8      30.670093     3.5
     9      41.170987     7.5
     10     52.054064     9.5
     11     63.741476    11.9
     12     50.779533     9.9
2005 1      42.956684     8.7
     2      33.870244     8.4
     3      35.469293     7.5
     4      22.393233     5.0

             C6H6(GT)              CO(GT)
year             2004      2005      2004      2005
Date
2004-03-10   8.460790       NaN  1.966667       NaN
2004-03-11   7.989058       NaN  2.220833       NaN
2004-03-12  12.129509       NaN  2.720833       NaN
2004-03-13  10.922887       NaN  2.658333       NaN
2004-03-14   9.631442       NaN  2.441667       NaN
...               ...       ...       ...       ...
2005-03-31        NaN  5.226496       NaN  1.387500
2005-04-01        NaN  3.416610       NaN  1.137500
2005-04-02        NaN  2.527522       NaN  0.854167
2005-04-03        NaN  4.318307       NaN  1.141667
2005-04-04        NaN  8.435233       NaN  2.060000

[391 rows x 4 columns]

               CO(GT)                                                    \
year             2004
day-of-week    Friday    Monday  Saturday    Sunday  Thursday   Tuesday
month
1                 NaN       NaN       NaN       NaN       NaN       NaN
2                 NaN       NaN       NaN       NaN       NaN       NaN
3            2.505556  2.341667  2.200000  1.995833  2.262500  2.302778
4            2.926667  1.632292  1.846875  1.523958  2.652500  2.073958
5            2.138542  1.772500  1.700833  1.371667  2.141667  2.256250
6            2.113542  1.838542  1.380208  1.132292  2.096875  2.250000
7            1.960833  1.791667  1.398333  0.909375  2.121667  2.115625
8            1.618750  1.448333  1.303125  1.292500  1.422917  1.612500
9            2.028125  2.168750  1.535417  1.656250  2.230000  2.353125
10           2.490833  2.409375  2.300833  1.877500  2.538542  2.198958
11           3.376042  2.295000  2.489583  1.300000  2.907292  3.238333
12           3.160833  2.434375  2.483333  2.089583  3.070833  2.462500

                                                                         \
year                       2005
day-of-week Wednesday    Friday    Monday  Saturday    Sunday  Thursday
month
1                 NaN  2.571875  2.235833  1.950833  1.611667  2.073958
2                 NaN  2.578125  1.528125  2.248958  1.626042  2.409375
3            2.311538  2.446875  1.995833  1.592708  1.348958  2.209167
4            2.046875  1.137500  2.060000  0.854167  1.141667       NaN
5            2.220833       NaN       NaN       NaN       NaN       NaN
6            2.237500       NaN       NaN       NaN       NaN       NaN
7            2.194792       NaN       NaN       NaN       NaN       NaN
8            1.580208       NaN       NaN       NaN       NaN       NaN
9            2.464167       NaN       NaN       NaN       NaN       NaN
10           2.252083       NaN       NaN       NaN       NaN       NaN
11           2.772917       NaN       NaN       NaN       NaN       NaN
12           2.425833       NaN       NaN       NaN       NaN       NaN


year
day-of-week   Tuesday Wednesday
month
1            2.322917  2.092708
2            1.942708  2.312500
3            2.144167  2.368333
4                 NaN       NaN
5                 NaN       NaN
6                 NaN       NaN
7                 NaN       NaN
8                 NaN       NaN
9                 NaN       NaN
10                NaN       NaN
11                NaN       NaN
12                NaN       NaN

## Correlation Analysis, creation of lag variable and new DataFrame with variables correlated with CO(GT)

In [7]:
#####CREATE LAG VARIABLES######
df_median['target_forward'] = df_median['CO(GT)'].shift(1)

####CORRELATION MATRIX#####
df_median_corr_matrix=df_median.corr(method='pearson', min_periods=1)
s = df_median_corr_matrix.unstack()
so = s.sort_values(kind="quicksort")
print("")
print("Correlation Matrix:")
print(df_median_corr_matrix)

#Values to predict the new CO(GT)
df_median_predict= df_median.drop(['Date','Time','T','RH','PT08.S4(NO2)',
                    'PT08.S3(NOx)','NO2(GT)','NMHC(GT)',
                    'AH','target_forward',
                    'year','month','day','day-of-week'],axis=1).iloc[0].to_numpy().ravel()
df_median_predict=np.transpose(np.reshape(df_median_predict,(df_median_predict.shape[0],1)))

df_median = df_median.iloc[1:]

Correlation Matrix:
                  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  PT08.S2(NMHC)  \
CO(GT)          1.000000     0.776959  0.174974  0.809010       0.795978
PT08.S1(CO)     0.776959     1.000000  0.247551  0.883905       0.892996
NMHC(GT)        0.174974     0.247551  1.000000  0.135401       0.132763
C6H6(GT)        0.809010     0.883905  0.135401  1.000000       0.981633
PT08.S2(NMHC)   0.795978     0.892996  0.132763  0.981633       1.000000
NOx(GT)         0.780505     0.622606 -0.091697  0.616363       0.606237
PT08.S3(NOx)   -0.619329    -0.770514  0.051803 -0.733513      -0.795768
NO2(GT)         0.656163     0.563595 -0.012326  0.533687       0.562180
PT08.S4(NO2)    0.548470     0.682361  0.210915  0.764612       0.776953
PT08.S5(O3)     0.763531     0.899419  0.110387  0.865758       0.880645
T               0.005966     0.049020 -0.067027  0.199257       0.241533
RH              0.041100     0.114421 -0.014157 -0.061747      -0.090409
AH              0.022863     0.135726 -0.121803  0.168411       0.187167
day             0.000360    -0.018631  0.063571 -0.011110      -0.019698
month           0.087442    -0.038327 -0.230206  0.125958       0.125115
year           -0.019169     0.023032 -0.164530 -0.132276      -0.144083
target_forward  0.822646     0.646501  0.143805  0.649137       0.654833

                 NOx(GT)  PT08.S3(NOx)   NO2(GT)  PT08.S4(NO2)  PT08.S5(O3)  \
CO(GT)          0.780505     -0.619329  0.656163      0.548470     0.763531
PT08.S1(CO)     0.622606     -0.770514  0.563595      0.682361     0.899419
NMHC(GT)       -0.091697      0.051803 -0.012326      0.210915     0.110387
C6H6(GT)        0.616363     -0.733513  0.533687      0.764612     0.865758
PT08.S2(NMHC)   0.606237     -0.795768  0.562180      0.776953     0.880645
NOx(GT)         1.000000     -0.572460  0.760738      0.200840     0.694866
PT08.S3(NOx)   -0.572460      1.000000 -0.574249     -0.538401    -0.795316
NO2(GT)         0.760738     -0.574249  1.000000      0.140267     0.630555
PT08.S4(NO2)    0.200840     -0.538401  0.140267      1.000000     0.590764
PT08.S5(O3)     0.694866     -0.795316  0.630555      0.590764     1.000000
T              -0.245858     -0.144791 -0.169315      0.561236    -0.026805
RH              0.183844     -0.056798 -0.082253     -0.032174     0.124789
AH             -0.148301     -0.231595 -0.297994      0.629515     0.071135
day            -0.024542      0.025700 -0.016083     -0.039685    -0.030986
month           0.104709     -0.059215 -0.167034      0.171203     0.048352
year            0.228066     -0.143966  0.366657     -0.484662     0.042272
target_forward  0.666358     -0.535719  0.585264      0.430915     0.676787

                       T        RH        AH       day     month      year  \
CO(GT)          0.005966  0.041100  0.022863  0.000360  0.087442 -0.019169
PT08.S1(CO)     0.049020  0.114421  0.135726 -0.018631 -0.038327  0.023032
NMHC(GT)       -0.067027 -0.014157 -0.121803  0.063571 -0.230206 -0.164530
C6H6(GT)        0.199257 -0.061747  0.168411 -0.011110  0.125958 -0.132276
PT08.S2(NMHC)   0.241533 -0.090409  0.187167 -0.019698  0.125115 -0.144083
NOx(GT)        -0.245858  0.183844 -0.148301 -0.024542  0.104709  0.228066
PT08.S3(NOx)   -0.144791 -0.056798 -0.231595  0.025700 -0.059215 -0.143966
NO2(GT)        -0.169315 -0.082253 -0.297994 -0.016083 -0.167034  0.366657
PT08.S4(NO2)    0.561236 -0.032174  0.629515 -0.039685  0.171203 -0.484662
PT08.S5(O3)    -0.026805  0.124789  0.071135 -0.030986  0.048352  0.042272
T               1.000000 -0.578564  0.656534 -0.032141  0.275201 -0.506711
RH             -0.578564  1.000000  0.167898 -0.019059  0.080118  0.099761
AH              0.656534  0.167898  1.000000 -0.070166  0.414068 -0.497563
day            -0.032141 -0.019059 -0.070166  1.000000 -0.010046 -0.054517
month           0.275201  0.080118  0.414068 -0.010046  1.000000 -0.692156
year           -0.506711  0.099761 -0.497563 -0.054517 -0.692156  1.000000
target_forward  0.011864  0.033435  0.028092  0.000867  0.087424 -0.019240

                target_forward
CO(GT)                0.822646
PT08.S1(CO)           0.646501
NMHC(GT)              0.143805
C6H6(GT)              0.649137
PT08.S2(NMHC)         0.654833
NOx(GT)               0.666358
PT08.S3(NOx)         -0.535719
NO2(GT)               0.585264
PT08.S4(NO2)          0.430915
PT08.S5(O3)           0.676787
T                     0.011864
RH                    0.033435
AH                    0.028092
day                   0.000867
month                 0.087424
year                 -0.019240
target_forward        1.000000

## Linear Regression with GridSearch and Cross Validation

In [9]:
####LINEAR REGRESSION#####
from sklearn import metrics
from sklearn.model_selection import train_test_split, StratifiedKFold, KFold,cross_val_score, GridSearchCV
from sklearn.feature_selection import RFECV
from sklearn.metrics import roc_curve, auc, roc_auc_score,accuracy_score,precision_recall_curve, average_precision_score
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score,matthews_corrcoef
from tabulate import tabulate

y = df_median['target_forward'].ravel()
y=np.reshape(y,(y.shape[0],1))
# y=pd.DataFrame(y)
X = df_median.drop(['Date','Time','T','RH','PT08.S4(NO2)','PT08.S3(NOx)','NO2(GT)','NMHC(GT)','AH','target_forward','year','month','day','day-of-week'],axis=1).to_numpy().copy()
# setting up testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=23)

######LINEAR REGRESION#######
from sklearn.linear_model import LinearRegression

ols = LinearRegression()

#Hyperparameter space
hyperparameters = {'fit_intercept':[True,False], 'normalize':[True,False], 'copy_X':[True, False]}

clf = GridSearchCV(ols, hyperparameters, cv=5, n_jobs=-1, verbose=0)
best_clf = clf.fit(X_train, y_train.ravel())

#Optimal parameters
fit_intercept=best_clf.best_estimator_.get_params()['fit_intercept']
normalize=best_clf.best_estimator_.get_params()['normalize']
copy_X=best_clf.best_estimator_.get_params()['copy_X']

#Dictonary of all tuned hyperparameters
tune_hyper_lr=best_clf.best_params_
print('Best hyperparameters:')
print(tune_hyper_lr) 
print('')

#Coeficients of the model
coef_lr=best_clf.best_estimator_.coef_
print('Coeficients:')
print(coef_lr) 
print('')

#Optimal score given the optimal parameters
best_score_lr=best_clf.best_score_
print('Best Score:')
print(best_score_lr)  
print('')

#Prediction
print('Prediction:')
best_clf.predict(df_median_predict)

#OLS method with CV a feature selection. Every method has the same structure
def ols_reg(fit_intercept,normalize,copy_X,X_train,y_train):
    results=()
    #Number of folds
    skf = KFold(n_splits=5,random_state=23,shuffle = True)
    A=[]
    B=[]
    C=[]
      
    for i, (train_index, test_index) in enumerate(skf.split(X_train, y_train)):
        Xcv_train, Xcv_test = X_train[train_index], X_train[test_index]
        ycv_train, ycv_test = y_train[train_index], y_train[test_index]
        
        #Hyperparameter object for linear regressio
        clf = LinearRegression(fit_intercept=fit_intercept,normalize=normalize,copy_X=copy_X)
        
        #Feature selection given the object of hyperparameters
        red_param=RFECV(clf, step=1, cv=5)
        
        #Training of the model given the best parameters
        best_param=red_param.fit(Xcv_train,ycv_train.ravel())
        #red_param.fit(X_train,y_train.ravel())
        
        best_param.estimator_.coef_
        
        y_pred=red_param.predict(Xcv_test)
        #y_pred=red_param.predict(X_test)
        r2=r2_score(ycv_test,y_pred.ravel())
        #r2=r2_score(y_test,y_pred.ravel())
        A.append(r2)
                
        mse=np.sqrt(mean_squared_error(ycv_test,y_pred.ravel()))
        B.append(mse)
        
        mae=mean_absolute_error(ycv_test,y_pred.ravel())
        C.append(mae)
        
    results=np.around([np.mean(A),np.std(A),np.mean(B),np.std(B),np.mean(C),np.std(C)],decimals=3)
    return(results)

results_ols_reg=ols_reg(fit_intercept,normalize,copy_X,X_train,y_train)

table=[results_ols_reg]

print('Linear Regresion results:')
print(tabulate(table, headers=["Mean R^2","Std. R^2","Mean RMSE","Std. RMSE","Mean MAE","Std. MAE"]))

Best hyperparameters:
{'copy_X': True, 'fit_intercept': True, 'normalize': False}

Coeficients:
[ 8.34786909e-01 -6.07328549e-04 -7.49424625e-02  1.31546691e-03
 -7.53824299e-05  8.84628518e-04]

Best Score:
0.696645142821299

Prediction:
Linear Regresion results:
  Mean R^2    Std. R^2    Mean RMSE    Std. RMSE    Mean MAE    Std. MAE
----------  ----------  -----------  -----------  ----------  ----------
     0.699       0.013        0.726        0.031       0.472       0.013